<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3>
    Jørgen is an athlete of exceptional talent and he does research on his favourite sport: cross-country skiing. One of the main techniques in cross-country skiing is the double-poling technique, where propulsion is generated through the poles and the skies are sliding through the prepared track.
  </h3>
  <img width="150" alt="Portrait" src="https://pbs.twimg.com/profile_images/2360740606/1303908547248.jpg">
</div>
<h2 style="text-align:center">Here is a video to help you start double poling:</h2>
<div style="text-align:center">
  <iframe type="text/html" 
    width="640" 
    height="385" 
    src="http://www.youtube.com/embed/K9Vk8AHTP9Q"
    frameborder="0">
</iframe>
</div>


